@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Unbounded:wght@200..900&display=swap");

.left-sidebar {
  transition: all 0.3s;
}

.left-sidebar.active {
  width: 0;
  overflow: hidden;
  transition: all 0.3s;
}

.user-image {
  border: 4px solid #88a2ea !important;
}
/* 
html *{
  font-family: "Roboto", sans-serif !important;
  font-weight: normal !important;
  font-size: normal !important;
} */
