.carousel-item img {
    width: 100%; /* Ширина изображения будет равна 100% от размера контейнера */
    height: 250px; /* Фиксированная высота изображения */
    object-fit: cover; /* Изображение будет масштабировано, чтобы заполнить контейнер */
}